.wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Adjust background color as needed */
    z-index: 1000; /* Adjust z-index to ensure the header appears above other content */
}
.nav-bar {
    display: flex;
    gap: 5rem;
    padding: 1rem; /* Adjust padding as needed */
    justify-content: center;
}
.nav-bar li {
    list-style: none;
}
.nav-bar li a {
    text-decoration: none;
    color: #000; /* Adjust link color as needed */
}

/* Add border-bottom to active link */
.nav-bar li.border-bottom {
    border-bottom: 2px solid #28a745; /* Adjust border color as needed */
}
